.background-icon {
  	position: absolute;
  	top: 90px;
  	left: -69.17px;
  	width: 1658.3px;
  	height: 3581.7px;
}
.footer1 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	box-shadow: 1.6666666269302368px 5px 18.33px -2.5px rgba(0, 0, 0, 0.1);
  	background-color: #080537;
  	border: 0.8px solid #000;
  	box-sizing: border-box;
  	width: 1650px;
  	height: 326.7px;
}
.vector-icon {
  	width: 23.6px;
  	position: relative;
  	height: 23.6px;
  	cursor: pointer;
}
.vector-icon1 {
  	width: 25.7px;
  	position: relative;
  	height: 25.8px;
  	cursor: pointer;
}
.vector-icon2 {
  	width: 23.1px;
  	position: relative;
  	height: 23.6px;
  	cursor: pointer;
}
.vector-icon3 {
  	width: 25.8px;
  	position: relative;
  	height: 25.2px;
  	cursor: pointer;
}
.vector-icon4 {
  	width: 24.6px;
  	position: relative;
  	height: 23.3px;
  	cursor: pointer;
}
.vector-icon5 {
  	width: 27.1px;
  	position: relative;
  	height: 20.7px;
}
.vector-parent {
  	position: absolute;
  	top: 240.83px;
  	left: 640px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 33.6px;
}
.connect {
  	align-self: stretch;
  	position: relative;
  	letter-spacing: 0.02em;
}
.whether-its-a {
  	margin: 0;
}
.whether-its-a-container {
  	align-self: stretch;
  	position: relative;
  	font-size: 16.14px;
  	letter-spacing: 0.02em;
}
.connect-parent {
  	position: absolute;
  	top: 33.33px;
  	left: 216.67px;
  	width: 917.8px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.footer {
  	position: absolute;
  	top: 3183.33px;
  	left: -65px;
  	width: 1650px;
  	height: 326.7px;
}
.header1 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	box-shadow: 1.6666666269302368px 5px 18.33px -2.5px rgba(0, 0, 0, 0.1);
  	background-color: #080537;
  	border: 0.8px solid #000;
  	box-sizing: border-box;
  	width: 1650px;
  	height: 94.2px;
}
.sa-1-icon {
  	width: 64.2px;
  	position: relative;
  	max-height: 100%;
  	object-fit: contain;
}
.sa-graphics {
  	width: 243.3px;
  	position: relative;
  	text-transform: uppercase;
  	display: inline-block;
  	height: 77.4px;
  	flex-shrink: 0;
}
.sa-1-parent {
  	display: flex;
  	flex-direction: row;
  	align-items: flex-end;
  	justify-content: flex-start;
  	gap: 39.2px;
  	font-size: 64.89px;
  	font-family: 'League Gothic';
}
.home {
  	position: relative;
}
.home-wrapper {
  	width: 186.7px;
  	border-radius: 31.72px;
  	border: 2.1px solid #ed7b23;
  	box-sizing: border-box;
  	height: 42.5px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 5.5px 35.2px;
  	color: #ed7b23;
}
.designs-wrapper {
  	width: 187.5px;
  	border-radius: 31.72px;
  	border: 2.1px solid #fff;
  	box-sizing: border-box;
  	height: 42.5px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 1.4px 13.8px;
  	cursor: pointer;
}
.projects-wrapper {
  	width: 186.7px;
  	border-radius: 31.72px;
  	border: 2.1px solid #fff;
  	box-sizing: border-box;
  	height: 42.5px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 2.1px 22.1px;
  	cursor: pointer;
}
.frame-parent {
  	position: absolute;
  	top: 7.5px;
  	left: 141.67px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 123.3px;
}
.header {
  	position: absolute;
  	top: -1.67px;
  	left: -65px;
  	width: 1650px;
  	height: 94.2px;
  	font-size: 27.2px;
  	font-family: Poppins;
}
.gradient {
  	width: 440px;
  	position: absolute;
  	margin: 0 !important;
  	top: 0px;
  	left: 0px;
  	border-radius: 50%;
  	background: radial-gradient(50% 50% at 50% 50%, #3f0afe, rgba(50, 15, 133, 0));
  	height: 516.7px;
  	z-index: 0;
}
.me-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 50%;
  	background: radial-gradient(50% 50% at 50% 50%, #fff 17.71%, rgba(67, 67, 67, 0));
  	width: 294.9px;
  	height: 310.5px;
}
.image-1-icon {
  	position: absolute;
  	top: 61.07px;
  	left: 53.33px;
  	border-radius: 94.29px;
  	width: 188.3px;
  	height: 188.3px;
  	object-fit: cover;
}
.me {
  	width: 294.9px;
  	position: relative;
  	height: 310.5px;
  	z-index: 1;
}
.gradient-parent {
  	position: absolute;
  	top: 15.83px;
  	left: 0px;
  	width: 440px;
  	height: 516.7px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 103.3px 71.7px;
  	box-sizing: border-box;
  	gap: 8.3px;
}
.arrow-icon {
  	position: absolute;
  	top: 0px;
  	left: 228.85px;
  	width: 205.7px;
  	height: 223px;
  	object-fit: contain;
}
.hello-i-am {
  	position: absolute;
  	top: 30.83px;
  	left: 427.5px;
  	letter-spacing: -0.9px;
  	line-height: 175.33px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 442.9px;
  	height: 36.2px;
}
.a-designer-who {
  	align-self: stretch;
  	position: relative;
  	text-decoration: underline;
  	letter-spacing: 0.02em;
}
.sophistication {
  	color: #ed7b23;
}
.simplicity-is-the-container {
  	align-self: stretch;
  	position: relative;
  	font-size: 55.57px;
  	letter-spacing: 0.02em;
  	line-height: 126.66%;
}
.because-the-simplest {
  	align-self: stretch;
  	position: relative;
  	font-size: 12.23px;
  	letter-spacing: 0.02em;
}
.a-designer-who-believes-parent {
  	position: absolute;
  	top: 152.5px;
  	left: 427.5px;
  	width: 683.9px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	text-align: left;
  	font-size: 18.9px;
}
.me-time {
  	position: absolute;
  	top: 214.17px;
  	left: 118.33px;
  	width: 1111.4px;
  	height: 532.5px;
  	text-align: center;
  	font-size: 34.34px;
}
.currently-im-a {
  	white-space: pre-wrap;
}
.currently-im-a-container1 {
  	width: 100%;
}
.currently-im-a-container {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	letter-spacing: 0.02em;
  	display: flex;
  	align-items: center;
  	width: 553.3px;
}
.designation-child {
  	position: absolute;
  	top: 2.5px;
  	left: 374.17px;
  	width: 25px;
  	height: 25px;
  	object-fit: cover;
}
.designation {
  	width: 553.3px;
  	position: relative;
  	height: 32px;
  	margin-top: -14.2px;
  	font-size: 17.5px;
}
.im-a-engineering-undergrad-parent {
  	width: 670.8px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.im-a-self-taught {
  	align-self: stretch;
  	position: relative;
  	font-size: 25.82px;
  	letter-spacing: 0.02em;
}
.intro {
  	position: absolute;
  	top: 690.83px;
  	left: 180px;
  	width: 1080.8px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 64.2px;
  	font-size: 41.67px;
}
.gradient1 {
  	position: absolute;
  	top: 0px;
  	left: 277.5px;
  	border-radius: 50%;
  	background: radial-gradient(50% 50% at 50% 50%, #08053a, rgba(50, 15, 133, 0));
  	width: 520.8px;
  	height: 583.3px;
}
.mask-group-icon {
  	width: 531.1px;
  	position: relative;
  	height: 156.6px;
  	z-index: 0;
}
.student-ambassador {
  	width: 268.3px;
  	position: absolute;
  	margin: 0 !important;
  	top: 42.86px;
  	left: 183.56px;
  	line-height: 30.28px;
  	font-weight: 600;
  	display: inline-block;
  	height: 22.4px;
  	flex-shrink: 0;
  	z-index: 1;
}
.promoting-tech-learning {
  	width: 216.2px;
  	position: absolute;
  	margin: 0 !important;
  	top: 75.47px;
  	left: 184.49px;
  	font-size: 7.45px;
  	line-height: 9.78px;
  	font-weight: 500;
  	display: inline-block;
  	height: 44.7px;
  	flex-shrink: 0;
  	z-index: 2;
}
.learn-more-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 9.32px;
  	width: 110.9px;
  	height: 30.7px;
}
.learn-more1 {
  	position: absolute;
  	top: 9.32px;
  	left: 17.7px;
  	line-height: 13.98px;
  	font-weight: 500;
  	display: inline-block;
  	width: 71.7px;
  	height: 12.1px;
}
.learn-more {
  	width: 110.9px;
  	position: absolute;
  	margin: 0 !important;
  	top: 104.36px;
  	left: 181.69px;
  	height: 30.7px;
  	z-index: 3;
  	text-align: center;
  	font-size: 9.32px;
}
.images-picsart-backgroundremov-icon {
  	width: 127.7px;
  	position: absolute;
  	margin: 0 !important;
  	top: 26.09px;
  	left: 18.64px;
  	max-height: 100%;
  	object-fit: cover;
  	z-index: 4;
}
.experience {
  	width: 531.1px;
  	box-shadow: 3.7270116806030273px 6.522270202636719px 24.23px rgba(0, 0, 0, 0.12);
  	border-radius: 13.98px;
  	background: linear-gradient(110.49deg, #130428 7.29%, #251043 34.38%, #38126d 56.77%, #261045 84.9%, #190634);
  	height: 179.5px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	position: relative;
  	gap: 9.3px;
}
.designer {
  	width: 238.5px;
  	position: absolute;
  	margin: 0 !important;
  	top: 42.83px;
  	left: 181.69px;
  	line-height: 30.28px;
  	font-weight: 600;
  	display: inline-block;
  	height: 22.4px;
  	flex-shrink: 0;
  	z-index: 1;
}
.working-as-design {
  	width: 216.2px;
  	position: absolute;
  	margin: 0 !important;
  	top: 75.44px;
  	left: 182.62px;
  	font-size: 7.45px;
  	line-height: 9.78px;
  	font-weight: 500;
  	display: inline-block;
  	height: 44.7px;
  	flex-shrink: 0;
  	z-index: 2;
}
.learn-more3 {
  	width: 110.9px;
  	position: absolute;
  	margin: 0 !important;
  	top: 104.32px;
  	left: 179.83px;
  	height: 30.7px;
  	z-index: 3;
  	text-align: center;
  	font-size: 9.32px;
}
.iedc-logo-icon {
  	width: 125px;
  	position: absolute;
  	margin: 0 !important;
  	top: 69.88px;
  	left: calc(50% - 226px);
  	max-height: 100%;
  	object-fit: cover;
  	z-index: 4;
}
.experience1 {
  	width: 531.1px;
  	box-shadow: 3.7270116806030273px 6.522270202636719px 24.23px rgba(0, 0, 0, 0.12);
  	border-radius: 13.98px;
  	background: linear-gradient(95.56deg, #130428 7.29%, #251043 34.38%, #38126d 56.77%, #261045 84.9%, #190634);
  	height: 179.5px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	position: relative;
  	gap: 9.3px;
}
.experience-parent {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 18.6px;
  	font-size: 24.23px;
  	font-family: Poppins;
}
.work-experience-parent {
  	position: absolute;
  	top: 121.67px;
  	left: 0px;
  	width: 1080.8px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 27.5px;
}
.work-experiance {
  	position: absolute;
  	top: 1173.33px;
  	left: 186.67px;
  	width: 1080.8px;
  	height: 583.3px;
  	font-size: 33.33px;
}
.that-values-improving {
  	margin: 0;
  	font-size: 19.1px;
}
.im-currently-looking-container {
  	position: absolute;
  	top: 0px;
  	left: 137.98px;
  	letter-spacing: 0.02em;
  	line-height: 34.78px;
}
.cross-functional {
  	position: absolute;
  	top: 0px;
  	left: 564.26px;
  	font-size: 26.92px;
  	letter-spacing: 0.02em;
  	line-height: 34.78px;
  	color: #ed7b23;
}
.group-child {
  	position: absolute;
  	top: 204.73px;
  	left: 517.79px;
  	width: 137.3px;
  	height: 311.3px;
}
.group-item {
  	position: absolute;
  	top: 223.8px;
  	left: 507.06px;
  	width: 79.1px;
  	height: 302.9px;
}
.group-inner {
  	position: absolute;
  	top: 222.12px;
  	left: 489.66px;
  	width: 38.7px;
  	height: 327px;
}
.group-child1 {
  	position: absolute;
  	top: 215.38px;
  	left: 340.46px;
  	width: 132.3px;
  	height: 337.1px;
  	object-fit: contain;
}
.group-child2 {
  	position: absolute;
  	top: 215.38px;
  	left: 409.46px;
  	width: 74.2px;
  	height: 347.8px;
  	object-fit: contain;
}
.group-child3 {
  	position: absolute;
  	top: 218.75px;
  	left: 464.42px;
  	width: 23.6px;
  	height: 351.1px;
  	object-fit: contain;
}
.ellipse-div {
  	position: absolute;
  	top: 475.64px;
  	left: 203.04px;
  	border-radius: 50%;
  	background: radial-gradient(50% 50% at 50% 50%, #763cac, rgba(50, 15, 133, 0));
  	width: 608px;
  	height: 370.2px;
}
.logoss-icon {
  	position: absolute;
  	top: 108.81px;
  	left: 286.06px;
  	width: 419.6px;
  	height: 117.8px;
  	object-fit: contain;
}
.logo-icon {
  	position: absolute;
  	top: 502.56px;
  	left: 392.63px;
  	border-radius: 100.96px;
  	width: 201.9px;
  	height: 201.9px;
  	object-fit: cover;
}
.group-child4 {
  	position: absolute;
  	top: 512.66px;
  	left: 0px;
  	border-radius: 50%;
  	border: 1.1px solid rgba(0, 0, 0, 0);
  	box-sizing: border-box;
  	width: 988.3px;
  	height: 301.8px;
}
.group-child5 {
  	position: absolute;
  	top: 512.66px;
  	left: 70.67px;
  	border-radius: 50%;
  	border: 1.1px solid rgba(0, 0, 0, 0);
  	box-sizing: border-box;
  	width: 857.1px;
  	height: 301.8px;
}
.group-child6 {
  	position: absolute;
  	top: 512.66px;
  	left: 121.15px;
  	border-radius: 50%;
  	border: 1.1px solid rgba(0, 0, 0, 0);
  	box-sizing: border-box;
  	width: 779.6px;
  	height: 301.8px;
}
.group-icon {
  	position: absolute;
  	top: 431.89px;
  	left: 327.56px;
  	width: 343.3px;
  	height: 308.5px;
}
.group-icon1 {
  	position: absolute;
  	height: 2.77%;
  	width: 2.24%;
  	top: 71%;
  	right: 4.69%;
  	bottom: 26.23%;
  	left: 93.07%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.vector-icon6 {
  	position: absolute;
  	height: 2.01%;
  	width: 1.45%;
  	top: 66.98%;
  	right: 12.4%;
  	bottom: 31.01%;
  	left: 86.15%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.vector-icon7 {
  	position: absolute;
  	height: 2.94%;
  	width: 1.78%;
  	top: 77.96%;
  	right: 0%;
  	bottom: 19.1%;
  	left: 98.21%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.group-icon2 {
  	position: absolute;
  	height: 2.55%;
  	width: 1.23%;
  	top: 89.56%;
  	right: 13.19%;
  	bottom: 7.89%;
  	left: 85.59%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.group-child7 {
  	position: absolute;
  	height: 2.05%;
  	width: 1.51%;
  	top: 80.59%;
  	right: 6.2%;
  	bottom: 17.37%;
  	left: 92.29%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.group-child8 {
  	position: absolute;
  	height: 1.53%;
  	width: 2.27%;
  	top: 67.93%;
  	right: 18.51%;
  	bottom: 30.54%;
  	left: 79.22%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.vector-icon8 {
  	position: absolute;
  	height: 2.32%;
  	width: 1.56%;
  	top: 76.57%;
  	right: 85.03%;
  	bottom: 21.12%;
  	left: 13.41%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.group-child9 {
  	position: absolute;
  	height: 2.7%;
  	width: 1.45%;
  	top: 85.68%;
  	right: 95.42%;
  	bottom: 11.63%;
  	left: 3.13%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.group-child10 {
  	position: absolute;
  	height: 1.95%;
  	width: 1.34%;
  	top: 64.19%;
  	right: 77.76%;
  	bottom: 33.86%;
  	left: 20.89%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.group-child11 {
  	position: absolute;
  	height: 1.99%;
  	width: 1.4%;
  	top: 69.14%;
  	right: 89.43%;
  	bottom: 28.87%;
  	left: 9.16%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.group-child12 {
  	position: absolute;
  	height: 2.47%;
  	width: 2.43%;
  	top: 86.93%;
  	right: 83.27%;
  	bottom: 10.6%;
  	left: 14.3%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.skills-inner {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 1004px;
  	height: 845.8px;
}
.skills {
  	position: absolute;
  	top: 1785.83px;
  	left: 218.33px;
  	width: 1004px;
  	height: 845.8px;
  	text-align: center;
  	font-size: 26.9px;
}
.sa-graphics2 {
  	position: absolute;
  	top: 3468.33px;
  	left: 708.33px;
  	font-size: 6.88px;
  	letter-spacing: 0.02em;
}
.sa-home-page-child {
  	position: absolute;
  	top: 3464.13px;
  	left: 571.67px;
  	width: 325px;
  	height: 0px;
  	object-fit: contain;
}
.sa-home-page {
  	width: 100%;
  	position: relative;
  	background-color: #fff;
  	height: 3510px;
  	overflow: hidden;
  	text-align: left;
  	font-size: 38.74px;
  	color: #fff;
  	font-family: Preahvihear;
}

