.background-icon {
  	position: absolute;
  	top: 90px;
  	left: -69.17px;
  	width: 1658.3px;
  	height: 3581.7px;
}
.footer1 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	box-shadow: 1.6666666269302368px 5px 18.33px -2.5px rgba(0, 0, 0, 0.1);
  	background-color: #080537;
  	border: 0.8px solid #000;
  	box-sizing: border-box;
  	width: 1650px;
  	height: 326.7px;
}
.vector-icon {
  	width: 23.6px;
  	position: relative;
  	height: 23.6px;
  	cursor: pointer;
}
.vector-icon1 {
  	width: 25.7px;
  	position: relative;
  	height: 25.8px;
  	cursor: pointer;
}
.vector-icon2 {
  	width: 23.1px;
  	position: relative;
  	height: 23.6px;
  	cursor: pointer;
}
.vector-icon3 {
  	width: 25.8px;
  	position: relative;
  	height: 25.2px;
  	cursor: pointer;
}
.vector-icon4 {
  	width: 24.6px;
  	position: relative;
  	height: 23.3px;
  	cursor: pointer;
}
.vector-icon5 {
  	width: 27.1px;
  	position: relative;
  	height: 20.7px;
}
.vector-parent {
  	position: absolute;
  	top: 240.83px;
  	left: 640px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 33.6px;
}
.connect {
  	align-self: stretch;
  	position: relative;
  	letter-spacing: 0.02em;
}
.whether-its-a {
  	margin: 0;
}
.whether-its-a-container {
  	align-self: stretch;
  	position: relative;
  	font-size: 16.14px;
  	letter-spacing: 0.02em;
}
.connect-parent {
  	position: absolute;
  	top: 33.33px;
  	left: 216.67px;
  	width: 917.8px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.footer {
  	position: absolute;
  	top: 3183.33px;
  	left: -65px;
  	width: 1650px;
  	height: 326.7px;
  	font-size: 38.74px;
  	font-family: Preahvihear;
}
.header1 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	box-shadow: 1.6666666269302368px 5px 18.33px -2.5px rgba(0, 0, 0, 0.1);
  	background-color: #080537;
  	border: 0.8px solid #000;
  	box-sizing: border-box;
  	width: 1650px;
  	height: 94.2px;
}
.sa-1-icon {
  	width: 64.2px;
  	position: relative;
  	max-height: 100%;
  	object-fit: contain;
}
.sa-graphics {
  	width: 243.3px;
  	position: relative;
  	text-transform: uppercase;
  	display: inline-block;
  	height: 77.4px;
  	flex-shrink: 0;
}
.sa-1-parent {
  	display: flex;
  	flex-direction: row;
  	align-items: flex-end;
  	justify-content: flex-start;
  	gap: 39.2px;
  	font-size: 64.89px;
  	font-family: 'League Gothic';
}
.home {
  	position: relative;
}
.home-wrapper {
  	width: 186.7px;
  	border-radius: 31.72px;
  	border: 2.1px solid #fff;
  	box-sizing: border-box;
  	height: 42.5px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 5.5px 35.2px;
  	cursor: pointer;
}
.designs-wrapper {
  	width: 187.5px;
  	filter: drop-shadow(0px 3.3333332538604736px 3.33px rgba(0, 0, 0, 0.25));
  	border-radius: 31.72px;
  	border: 2.1px solid #fff;
  	box-sizing: border-box;
  	height: 42.5px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 1.4px 13.8px;
  	cursor: pointer;
}
.projects-wrapper {
  	width: 186.7px;
  	border-radius: 31.72px;
  	border: 2.1px solid #ed7b23;
  	box-sizing: border-box;
  	height: 42.5px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 2.1px 22.1px;
  	color: #ed7b23;
}
.frame-parent {
  	position: absolute;
  	top: 7.5px;
  	left: 141.67px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 123.3px;
}
.header {
  	position: absolute;
  	top: -1.67px;
  	left: -65px;
  	width: 1650px;
  	height: 94.2px;
  	font-size: 27.2px;
}
.sa-graphics2 {
  	position: absolute;
  	top: 3468.33px;
  	left: 708.33px;
  	font-size: 6.88px;
  	letter-spacing: 0.02em;
  	font-family: Preahvihear;
}
.sa-projects-page-child {
  	position: absolute;
  	top: 3464.13px;
  	left: 571.67px;
  	width: 325px;
  	height: 0px;
  	object-fit: contain;
}
.gradient {
  	position: absolute;
  	top: 231.5px;
  	left: 584.31px;
  	border-radius: 50%;
  	background: radial-gradient(50% 50% at 50% 50%, #763cac, rgba(50, 15, 133, 0));
  	width: 642.3px;
  	height: 720.4px;
}
.gradient1 {
  	position: absolute;
  	top: 222.5px;
  	left: 810.44px;
  	border-radius: 50%;
  	background: radial-gradient(50% 50% at 50% 50%, #763cac, rgba(50, 15, 133, 0));
  	width: 625.3px;
  	height: 700.4px;
}
.gradient2 {
  	position: absolute;
  	top: 817.82px;
  	left: 0px;
  	border-radius: 50%;
  	background: radial-gradient(50% 50% at 50% 50%, #763cac, rgba(50, 15, 133, 0));
  	width: 572.3px;
  	height: 641.3px;
}
.portfolio-icon {
  	position: absolute;
  	top: 413.6px;
  	left: 773.42px;
  	width: 583.2px;
  	height: 341.2px;
  	object-fit: cover;
}
.portfolio-icon1 {
  	position: absolute;
  	top: 981.91px;
  	left: 186.1px;
  	width: 583.2px;
  	height: 341.2px;
  	object-fit: cover;
}
.mask-group-icon {
  	position: absolute;
  	top: 413.6px;
  	left: 773.42px;
  	width: 583.2px;
  	height: 341.2px;
  	object-fit: contain;
}
.card-icon {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 669.4px;
  	height: 194px;
  	object-fit: cover;
}
.thinkforge-is-a {
  	position: absolute;
  	top: 17.33px;
  	left: 16.4px;
  	font-weight: 500;
  	display: flex;
  	align-items: center;
  	width: 635.8px;
}
.card-parent {
  	position: absolute;
  	top: 100.05px;
  	left: 0px;
  	width: 669.4px;
  	height: 194px;
}
.thinkforge {
  	position: absolute;
  	top: 19.01px;
  	left: 2px;
  	font-size: 34.02px;
  	letter-spacing: 0.02em;
  	text-transform: uppercase;
  	font-weight: 600;
}
.college-project {
  	position: absolute;
  	top: 0px;
  	left: 2px;
  	font-size: 16.01px;
  	letter-spacing: 0.02em;
  	font-weight: 600;
  	color: #9857d3;
  	white-space: pre-wrap;
}
.icon-park-solidclick {
  	position: absolute;
  	top: 302.16px;
  	left: 75.04px;
  	width: 31px;
  	height: 31px;
  	overflow: hidden;
  	cursor: pointer;
}
.icon-park-solidclick1 {
  	position: absolute;
  	top: 301.16px;
  	left: 27.01px;
  	width: 31px;
  	height: 31px;
  	overflow: hidden;
  	cursor: pointer;
}
.molding-young-minds {
  	position: absolute;
  	top: 58.22px;
  	left: 2.23px;
  	font-size: 12.38px;
  	letter-spacing: 0.02em;
  	font-weight: 600;
  	color: #fff;
}
.portfolio-text {
  	position: absolute;
  	top: 437.62px;
  	left: 186.1px;
  	width: 669.4px;
  	height: 333.2px;
  	color: #ccd6f6;
}
.card-icon1 {
  	position: absolute;
  	top: 96.05px;
  	left: 0px;
  	width: 669.4px;
  	height: 165.1px;
  	object-fit: cover;
}
.a-web-app-container {
  	position: absolute;
  	top: 122.07px;
  	left: 34.02px;
  	font-weight: 500;
}
.featured-project {
  	align-self: stretch;
  	position: relative;
  	letter-spacing: 0.02em;
  	font-weight: 600;
  	white-space: pre-wrap;
}
.traveltribe {
  	align-self: stretch;
  	position: relative;
  	font-size: 34.02px;
  	letter-spacing: 0.02em;
  	font-weight: 600;
  	color: #ccd6f6;
  	text-align: left;
  	margin-top: -11.7px;
}
.featured-project-parent {
  	position: absolute;
  	top: 0px;
  	left: 445.13px;
  	width: 221.7px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-end;
  	justify-content: flex-start;
  	text-align: right;
  	font-size: 16.01px;
  	color: #9857d3;
}
.icon-park-solidclick2 {
  	position: absolute;
  	top: 298.16px;
  	left: 596.32px;
  	width: 31px;
  	height: 31px;
  	overflow: hidden;
}
.icon-park-solidclick4 {
  	position: absolute;
  	top: 297.16px;
  	left: 548.3px;
  	width: 31px;
  	height: 31px;
  	overflow: hidden;
}
.portfolio-text1 {
  	position: absolute;
  	top: 988.91px;
  	left: 687.37px;
  	width: 669.4px;
  	height: 329.2px;
  	color: #ccd6f6;
}
.sa-projects-page {
  	width: 100%;
  	position: relative;
  	background-color: #fff;
  	height: 3510px;
  	overflow: hidden;
  	text-align: left;
  	font-size: 18.01px;
  	color: #fff;
  	font-family: Poppins;
}

